// Animations

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scaleY(3);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shoot {
  0% { transform: translate(36vw, 35vh); }
}
@keyframes fade { to { opacity: 0 } }

@keyframes origamiOne {
  0% {
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
  }
  25% {
    clip-path: polygon(50% 0%, 100% 0, 100% 0, 55% 35%, 78% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
  }
  50% {
    clip-path: polygon(74% 0, 77% 11%, 58% 26%, 52% 48%, 78% 100%, 10% 100%, 27% 69%, 8% 22%, 26% 0);
  }
  75% {
    clip-path: polygon(54% 11%, 69% 14%, 58% 26%, 52% 48%, 61% 74%, 30% 82%, 32% 55%, 29% 18%, 51% 0);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
}

@keyframes origamiTwo {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  25% {
    clip-path: polygon(55% 17%, 63% 39%, 83% 46%, 71% 60%, 64% 92%, 34% 76%, 37% 63%, 21% 59%, 38% 39%);
  }
  50% {
    clip-path: polygon(55% 4%, 78% 24%, 100% 54%, 96% 81%, 58% 93%, 34% 76%, 5% 81%, 21% 59%, 28% 24%);
  }
  75% {
    clip-path: polygon(73% 1%, 78% 24%, 100% 54%, 96% 81%, 59% 83%, 32% 100%, 5% 81%, 0% 43%, 19% 5%);
  }
  100% {
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
  }
}

@keyframes blinkOpen {
  0%, 60% {
    opacity: 1;
  }
  61%, 100% {
    opacity: 0;
  }
}

@keyframes blinkClosed {
  0%, 60% {
    opacity: 0;
  }
  61%, 100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}