//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  cursor: none;
  font-size: 14px;
  font-weight: 290;
  overflow: hidden;
  line-height: 24px;
  color: color('black');
  font-family: 'Obviously';
	background: color('gray');
  overscroll-behavior: none;
  font-variation-settings: 'wdth' 490;

  &.touch-device {
    #cursor {
      display: none;
    }
  }

  &.entered {
    #cursor {
      .hand-cursor {
        display: none;
      }
      .arrow-cursor {
        display: block;
      }

      &.reverse:not(.button-cursor) {
        transform: translate(-50%, -50%) rotate(-180deg);
      }
    }
  }

  &.can-vote {
    .vote-prompt {
      display: block;
    }
  }
}

#cursor {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 500;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: exclusion;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out, opacity 0.5s ease-out;
  svg {
    width: 160px;
    height: 160px;
    fill: color('white');
  }

  &.-hide {
    opacity: 0;
  }

  .arrow-cursor {
    display: none;
  }

  &.button-cursor {
    svg {
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      transition: 0.1s ease-out;
      transform: translate(-50%, -50%);

      &.eyes-open {
        display: block;
      }
      &.eyes-gleaming {
        display: none;
      }
    }
  }
}
// Mouse Down/Up Styles
body.-mousedown {
  #cursor {
    svg {
      width: 150px;
      height: 150px;
    }

    &.button-cursor {
      svg {
        width: 90px;
        height: 90px;

        &.eyes-open {
          display: none;
        }
        &.eyes-gleaming {
          display: block;
        }
      }
    }
  }
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}
