//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  cursor: none;
  font-size: 16px;
  color: color('black');
  font-family: 'Obviously';
	background: color('gray');
  font-variation-settings: 'wdth' 500;

  &.entered {
    .fb-logo {
      opacity: 0;
    }
  }

  &.can-vote {
    .vote-prompt {
      display: block;
    }
  }
}

#follower {
  top: 50%;
  left: 50%;
  z-index: 500;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: exclusion;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
  svg {
    width: 160px;
    height: 160px;
    fill: color('white');
  }

  &.reverse {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}
