// Home page

.intro-section {
  // display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  display: flex;
  overflow: auto;
  position: fixed;
  text-align: center;
  align-items: center;
  color: color('gray');
  background-color: color('black');
  &.hidden {
    display: none;
  }

  .fb-logo {
    margin-bottom: 50px;
    pointer-events: none;
    transition: opacity 1s ease-out 0.5s;

    svg {
      width: 80px;
      height: 80px;
      fill: color('gray');
    }
  }

  > .sitewrapper {
    position: static;
  }

  blockquote {
    margin: 0 auto;
    max-width: 700px;

    p {
      margin: 0;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
    }

    cite {
      @include type-attribution;
      display: block;
      margin-top: 20px;
    }
  }

  button {
    margin-top: 20px;
  }

  @include media-md {
    .fb-logo {
      left: 50%;
      top: 100px;
      margin-bottom: 0;
      position: absolute;
      transform: translateX(-40px);
    }

    blockquote {
      p {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
}

.scrolling-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  will-change: background-color;
  transition: background-color 0.5s linear;

  @each $color, $value in $colors {
    &[data-color="#{$color}"] {
      li {
        &:not(.-active) {
          text-shadow:
          -1px -1px 0 $value,
           1px -1px 0 $value,
           -1px 1px 0 $value,
            1px 1px 0 $value;
        }
        &.-active {
          color: $value;
        }
      }
    }
    &[data-background="#{$color}"] {
      background-color: $value;
      li:not(.-active) {
        color: $value;
      }
    }
  }

  // Sticky Notes
  .sticky-note {
    top: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    transform: rotate(5deg);

    > .-inner {
      width: 290px;
      padding: 20px;
      font-size: 14px;
      font-weight: 290;
      line-height: 24px;
      text-shadow: none;
      text-align: center;
      white-space: normal;
      animation: bounceOut 0.25s forwards;
      font-variation-settings: 'wdth' 490;
      filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.35));

      > .icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
      }
    }

    h4 {
      font-size: 12px;
      font-weight: 475;
      line-height: 20px;
      text-transform: uppercase;
      font-variation-settings: 'wdth' 490;
    }

    p {
      margin: 0 0 20px;
    }

    .burst-button {
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 50%);

      .icon {
        width: 50px;
        height: 50px;

        &.icon-eyes-gleaming {
          display: none;
          fill: color('white');
        }
      }
    }

    &.expandable {
      > .-inner {
        padding-bottom: 60px;
      }

      &.-expanded {
        h4 {
          display: none;
        }

        .burst-button {
          width: 100px;
          height: 100px;
          background-color: color('black');

          .burst {
            display: none;
          }
          .icon-eyes-open {
            display: none;
          }
          .icon-eyes-gleaming {
            display: block;
          }
        }

        // Party Poppers
        .party-popper {
          display: block;

          .icon {
            animation: shoot 1s ease-out forwards;
            animation-name: shoot, fade;
          }
        }
      }
    }

    &.expandable:not(.-expanded) {
      > .-inner {
        color: color('white');
        background-color: color('black');
        .expanded-content {
          display: none;
        }
      }
    }

    // Party Poppers
    .party-popper {
      left: 50%;
      bottom: 0;
      width: 75vw;
      height: 75vh;
      display: none;
      position: absolute;
      pointer-events: none;
      transform: translate(-50%, 50%);

      .icon {
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        position: absolute;
        transform-origin: center center;

        @for $i from 0 to 20 {
          $t: (1 + .01*random(100))*1s;

          &:nth-child(#{$i + 1}) {
            transform: translate(random(85) - 10 *1vw, random(85) - 10 *1vh) rotate(random(360)*1deg);
            animation-duration: $t;
            animation-delay: -.01*random(100)*$t;
          }
        }
      }

    }
  }

  ul {
    @extend .semantic-list;
    position: relative;

    li {
      line-height: 1;
      font-size: 34px;
      font-weight: 475;
      color: transparent;
      position: relative;
      will-change: color;
      white-space: nowrap;
      transition: color 0.5s linear;
      font-variation-settings: 'wdth' 490;

      @include media-md {
        font-size: 130px;
      }

      &.-active {
        .sticky-note {
          pointer-events: auto;

          > .-inner {
            animation: bounceIn 1s forwards;
          }
        }
      }

      // Specific Sticky Styles
      &.giving-care {
        .sticky-note {
          left: 230px;
          transform: rotate(-10deg) translateY(-30px);
        }
      }

      &.protecting-rights {
        .sticky-note {
          left: 160px;
        }
      }

      &.choosing-courage {
        .sticky-note {
          top: auto;
          left: 144px;
          bottom: 100%;
          transform: rotate(-10deg);
        }
      }

      &.stepping-up {
        .sticky-note {
          right: 132px;
          transform: rotate(10deg);
        }
      }

      &.letting-go {
        .sticky-note {
          top: auto;
          left: 131px;
          bottom: 100%;
          transform: rotate(10deg);
        }
      }

      &.turning-pages {
        .sticky-note:not(.vote-prompt) {
          top: auto;
          left: 131px;
          bottom: 100%;
          transform: rotate(-5deg);
        }
        .vote-prompt {
          left: 0;
          transform: translateX(-50%) rotate(5deg);
        }
      }
    }

    &.left {
      height: 100vh;
      text-align: right;
      overflow-y: scroll;
      padding-bottom: 50vh;
      scroll-snap-type: y mandatory;
      padding-top: calc(50vh - 17px);

      li {
        right: 50%;
        margin-right: 5px;
        position: relative;
        scroll-snap-align: center;
      }

      .sticky-note {
        right: 10vw;
      }

      @include media-md {
        padding-top: calc(50vh - 65px);

        li {
          margin-right: 10px;
        }
      }
    }

    &.right {
      left: 50%;
      text-align: left;
      padding-left: 5px;
      position: absolute;
      pointer-events: none;
      bottom: calc(100% - 50vh - 17px);

      .sticky-note {
        left: 10vw;
      }

      @include media-md {
        bottom: calc(100% - 50vh - 65px);

        padding-left: 10px;
      }
    }
  }
}

// Vote Promt
.vote-prompt {
  display: none;
  margin-top: 60px;

  &.sticky-note {
    > .-inner {
      padding-bottom: 80px;
    }
  }

  .burst-button {
    .icon-ballot {
      fill: color('red');
    }
  }
}